<%= link_to "Sign Out", logout_path %>

<div class="link-container">
	<ul>
		<% @user.links.each do |link| %>
			<% if link.read %>
				<li class="link read" data-id="<%= link.id %>" data-read="read">
			<% else %>
				<li class="link" data-id="<%= link.id %>" data-read="unread">
			<% end %>
			<span class="link-body"><%= link_to link.title, link.url %></span>
		<% end %>
	</ul>
</div>

<p>Add Link</p>
<%= form_for @new_link do |f| %>
	<%= f.label :title, "Title:" %>
	<%= f.text_field :title %><br>
	<%= f.label :url, "Location:" %>
	<%= f.text_field :url %><br>
	<%= f.submit "Create Link" %>
<% end %>